<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Plantation Manager</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
    <div class="top-links">
        <a href="/logout">LogOut</a>
    </div>
    <th:block th:include="nav-bar2"></th:block>
        <h2>List of Crops</h2>
        <form th:action="@{/c}" method="get">
            <label for="searchTerm">Search:</label>
            <input type="text" id="searchTerm" name="searchTerm" th:value="${searchTerm}" />
            <button type="submit">Search</button>
        </form>
        <button type="button" onclick="showNewCropForm()">Add a new Crop</button>
        <table>
            <thead>
            <tr>
                <th><a th:href="@{'/AlistCrops/' + ${currentPage} + '?sortField=cropId&sortDir=' + ${reverseSortDir}}">Crop Id</a></th>
                <th><a th:href="@{'/AlistCrops/' + ${currentPage} + '?sortField=cropName&sortDir=' + ${reverseSortDir}}">Crop Name</a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="crop: ${Crops}">
                <td th:text="${crop.cropId}"></td>
                <td th:text="${crop.cropName}"></td>
                <td><a th:href="@{'/updateCropsInfo/' + ${crop.cropId}}">Update</a></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <div>
                Total Rows:[[${totalItems}]]
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/AlistCrops/' + ${i} + '?sortField=cropName&sortDir=' + ${reverseSortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
            </span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/AlistCrops/' + ${currentPage + 1} + '?sortField=cropName&sortDir=' + ${reverseSortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/AlistCrops/' + ${totalPages} + '?sortField=cropName&sortDir=' + ${reverseSortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
        <div id="newCrop" style="display: none;">
            <form action="/crops/saveCrop" method="post">
                <h2>Register a new Crop</h2>
                <div class="group">
                    <label for="cropName" class="label">Crop's Name:</label>
                    <input id="cropName" name="cropName" type="text" class="input" required>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </form>
        </div>
        <script th:inline="javascript">
    function showNewCropForm() {
        var formDiv = document.getElementById('newCrop');
        formDiv.style.display = formDiv.style.display === 'none' ? 'block' : 'none';
    }
</script>
    </body>
</html>