<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header>
  <div class="sidebar">
  <nav >
    <ul>
      <li><a th:href="@{/plantations/OlistCrops}" >My Crops</a></li>
      <li><a th:href="@{/plantations/OlistPlantations}">My plantation</a></li>
      <li><a th:href="@{/requests/OlistRequests}">My Requests</a></li>
      <li><a th:href="@{/owners/Oprofile}">My Profile</a></li>
    </ul>
  </nav>
  </div>
</header>
</body>
</html>